.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartItems{
height: 100%; 
width: 600px;
height: 250px; 
display: flex;
align-items: center;
justify-content: space-between;
gap: 35px;
margin: 30px;
box-shadow: 0px 3px 15px, rgba(0,0,0, 0.2);
border-radius: 25px;

}
.cImg{
    width: 200px;
}
.Cdescription{
    width: 100%;
    font-size: 30px;
}
.countHandler input{
    width: 40px;
    font-weight: bolder;
    text-align: center;
}
.checkout button{
    width: 150px;
    height: 50px;
    background-color: rgb(19,19,19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}